/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/

@media (min-width: 1367px) and (max-width: 1920px) {}

/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/

@media (min-width: 1170px) and (max-width: 1366px) {
    .banner-content p {
        width: 70%;
    }
}

/* -------------------------------------------------
  Old Desktop :992
---------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1169px) {
    .em-slider-title {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .em-slider-sub-title {
        font-size: 42px;
        margin-bottom: 2px;
    }
    .em-slider-descript {
        margin-bottom: 20px;
        width: 66%;
    }
    .menu-height-space {
        height: 0;
    }
    .mean-container .mean-bar::before {
        top: 15px;
    }
    .kopax_menu>ul>li>a {
        padding: 10px 13px;
    }
}

/* -------------------------------------------------
  Tablet Screen : 768
---------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .em-slider-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .em-slider-sub-title {
        font-size: 30px;
        margin-bottom: 0;
    }
    .em-slider-descript {
        display: none;
    }
    .em-button-button-area a {
        margin-top: 20px;
    }
    .footer-top-inner p {
        width: 78%;
    }
    .kc_video_play.kc_video_wrapper {
        overflow: scroll;
    }
    /* kc */
    .kc_col-sm-4,
    .kc_col-sm-3 {
        width: 50% !important;
    }
    .em-team-content-image>img {
        width: 100%;
    }
    .em-team-content-waraper {
        bottom: -66px;
    }
    .form-address-text>p {
        font-size: 14px;
    }
    .menu-height-space {
        height: 0;
    }
    .banner-content p {
        width: 90%;
    }
}

/* -------------------------------------------------
  Small Mobile : 320
---------------------------------------------------*/

@media (max-width: 767px) {
    .em-slider-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .em-slider-sub-title {
        font-size: 22px;
        margin-bottom: 0;
    }
    .em-slider-descript {
        display: none;
    }
    .em-slider-button {
        display: none;
    }
    .em-nivo-slider-wrapper .nivo-controlNav {
        display: none;
    }
    .section-title.t_center {
        width: 100%;
    }
    .section-title.t_left {
        width: 100%;
    }
    .section-title.t_right {
        width: 100%;
    }
    /* top bar */
    .top-address {
        text-align: center;
    }
    .social-icons.text-right {
        text-align: center;
    }
    /* footer bar */
    .footer-top-inner p {
        width: 100%;
    }
    .footer-menu ul {
        margin: 10px 0 0;
        text-align: center;
    }
    .footer-menu ul li a {
        font-size: 14px;
    }
    .copy-right-text p {
        text-align: center;
    }
    .breadcumb-blog-area {
        padding: 50px 0;
    }
    /* blog css */
    .em-blog-content-area {
        padding: 20px 10px 5px;
    }
    .kopax-blog-meta-left a,
    .kopax-blog-meta-left span {
        font-size: 11px;
        margin-right: 3px;
    }
    .kopax-blog-meta-right a,
    .kopax-blog-meta-right span {
        font-size: 11px;
        margin-left: 3px;
    }
    /* single blog */
    .post_reply ul,
    .blog-content ul,
    .single-blog-content ul {
        padding-left: 20px;
    }
    .post_reply ol,
    .blog-content ol,
    .single-blog-content ol {
        padding-left: 20px;
    }
    .comments-area .children {
        margin-left: 10px;
    }
    .comment_field .input-field {
        width: 100%;
    }
    .pdsr {
        padding-top: 50px;
    }
    .pdsl {
        padding-bottom: 90px;
    }
    #wp-calendar {
        display: block;
    }
    /* footer css */
    .kopax-blog-thumb_adn>a img {
        width: 100%;
    }
    .em-content-image>img {
        width: 100%;
    }
    .kc_video_play.kc_video_wrapper {
        overflow: scroll;
    }
    .banner-content h1 {
        font-size: 45px;
    }
    .banner-content h2 {
        font-size: 23px;
    }
    .banner-content p {
        width: 72%;
    }
    .em-team-content-image>img {
        width: 100%;
    }
    .em-team-content-waraper {
        bottom: -67px;
    }
    .form-address-item {
        width: 100%;
        margin-bottom: 30px;
    }
    .home-2 .field.topfield .form-field {
        width: 100%;
    }
    .home-2 .field.topfield .form-field input {
        width: 100%;
    }
    .footer-social-icon a i {
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        width: 35px;
    }
    .banner-content h1 {
        font-size: 27px;
    }
    .banner-content h2 {
        font-size: 16px;
    }
    .banner-content p {
        width: 98%;
    }
    .banner-content p {
        font-size: 15px;
    }
    .section-title p {
        font-size: 14px;
    }
    .portfolio_nav ul li {
        letter-spacing: 1px;
        padding: 7px 15px;
        margin-bottom: 10px;
    }
    .form-title>h2 {
        font-size: 15px;
    }
    .em-service-title h2 {
        font-size: 17px;
    }
    .em_testi_content::before {
        left: -21px;
        top: -100px;
    }
    .em_testi_content::after {
        right: -13%;
    }
    .em-blog-content-area_adn {
        padding: 29px 7px 30px;
    }
    .blog-page-title_adn a {
        font-size: 16px;
    }
    .mc4wp-form-fields input {
        width: 100%;
    }
    .mc4wp-form-fields button {
        right: 0;
    }
    .mc4wp-form-fields button {
        width: 60px;
    }
    .form-area {
        width: 95.7%;
    }
    .menu-height-space {
        height: 0;
    }
    .testimonial_list {
        width: 100%;
    }
    .kopax-blog-meta-left_adn a,
    .kopax-blog-meta-left_adn span {
        font-size: 10px;
    }
    .em_testi_text {
        font-size: 18px;
    }
    .copy-right-text p {
        font-size: 10px;
    }
    .brand-area .kc_single_image img {
        display: inline-block !important;
    }
    /* without carousel */
    .curosel-style .owl-nav div {
        left: 0px;
    }
    .curosel-style .owl-nav .owl-next {
        left: auto;
        right: 0;
    }
}

/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .em-slider-button {
        display: block;
    }
    .em-button-button-area a {
        margin-right: 5px;
        margin-top: 15px;
        padding: 3px 20px;
        font-size: 12px;
    }
    .banner-content h1 {
        font-size: 36px;
    }
    .banner-content h2 {
        font-size: 20px;
    }
    .banner-content p {
        width: 92%;
    }
    .brand-area .kc_col-sm-2 {
        width: 50% !important;
    }
    .em_testi_content::after {
        right: -2%;
    }
}