body {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    line-height: 1.5;
    /*text-align: justify;*/
}

p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
    color: #666;
    font-style: normal;
    /*text-align: justify;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 25px;
    line-height: 1.2;
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    -webkit-transition: .5s;
    transition: .5s;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {}

ul {
    margin: 0;
    padding: 0;
}

li {}

input:focus,
button:focus {
    border-color: transparent;
    outline-color: transparent;
}

textarea:focus {
    border-color: transparent;
    outline-color: transparent;
}

hr {
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}

hr.style-2 {
    border-bottom: 1px dashed #f10;
}

hr.mp-0 {
    margin: 0;
    border-bottom: 1px solid #eceff8;
}

hr.mtb-40 {
    margin: 40px 0;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}

label {
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

a,
i,
cite,
em,
var,
address,
dfn,
ol,
li,
ul {
    font-style: normal;
    font-weight: 400;
}

*::-moz-selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #4fc1f0;
    color: #fff;
    text-shadow: none;
}

::-moz-placeholder {
    color: #666;
    font-size: 12px;
}

::-webkit-input-placeholder {
    color: #666;
    font-size: 12px;
}

:-ms-input-placeholder {
    color: #666;
    font-size: 12px;
}

::placeholder {
    color: #666;
    font-size: 12px;
}