/* sideber css style */

/*========================
manhood WIDGET  CSS
=========================*/

/* sidebar css */

/* serch widget */

.blog-left-side {}

.blog-left-side>div {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #eeeeee;
    box-shadow: 1px 1px 5px #eeeeee;
}

.blog-left-side>div:last-child {
    margin-bottom: 0px;
}

.blog-left-side h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.blog-left-side {}

.blog-left-side .content {
    padding: 0;
}

.blog-left-side .push-bottom-large {
    margin-bottom: 0;
}

.blog-left-side>div:last-child {
    margin-bottom: 0px;
}

.blog-left-side>aside:last-child {
    margin-bottom: 0px !important;
}

.blog-left-side .sub-menu li a:hover,
.blog-left-side .nav .children li a:hover {
    background: transparent;
    color: #f01e4a;
}

.search {
    background: #f7f7f7;
    position: relative;
}

.search input {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 0 none;
    height: 54px;
    position: relative;
    width: 100%;
}

.search input[type="text"] {}

.search input::-ms-input-placeholder,
.search input::-webkit-placeholder,
.search input::-moz-placeholder {
    color: #858585;
    font-size: 14px;
}

.search button {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #858585;
    font-size: 18px;
    padding: 1px 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search button i {}

.search input[type="text"] {
    padding-left: 10px;
}

/* widget list */

.widget {}

.blog-left-side .widget h2 {
    border-bottom: 1px solid #e5e5e5;
    bottom: -1px;
    color: #333;
    display: block;
    font-size: 23px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 20px;
    padding-bottom: 16px;
    position: relative;
    text-transform: capitalize;
}

.blog-left-side .widget h2::before {
    background: #f01e4a none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50%;
}

.blog-left-side .widget h2 {}

.footer-middle .widget h5 {
    color: #333;
    font-size: 24px;
    text-transform: capitalize;
}

.blog-left-side .widget ul {
    list-style: none;
}

.blog-left-side .widget ul li {
    margin: 0 0 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.blog-left-side .widget ul li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0;
}

.blog-left-side>.widget>ul>li {
    margin: 0 0 10px;
    padding-bottom: 10px;
}

.blog-left-side .widget>ul>li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.blog-left-side .widget ul li a {
    color: #333;
}

.blog-left-side .widget ul li::before {
    color: #333;
    content: "\f105";
    font-family: FontAwesome;
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 0px;
}

.blog-left-side .widget ul.children li {}

/* widget select */

.widget {}

.blog-left-side .widget select {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #ddd;
    padding-left: 5px;
}

/* table css */

#wp-calendar {
    width: 100%;
}

/* tags */

.tagcloud a {
    color: #606060;
    display: inline-block;
    font-size: 14px;
    margin: 0 3px 5px 0;
    padding: 7px 15px;
    text-align: center;
}

.widget_categories ul li:hover:before,
.widget_archive ul li:hover:before,
.widget_categories ul li a:hover,
.widget_archive ul li a:hover,
.tagcloud a:hover,
.r-post-content h3:hover,
.r-post-content h3 a:hover {
    color: #f01e4a;
}

#wp-calendar caption {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}

#wp-calendar {
    font-size: 13px;
}

#wp-calendar {
    border: 0px solid #e5e5e5;
    margin-bottom: 20px;
    overflow: auto;
    vertical-align: top;
    width: 100%;
    margin: 0;
    color: #333333;
}

table#wp-calendar td {
    border: 1px solid #e5e5e5;
    color: #444444;
    padding: 5px 10px;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
}

#wp-calendar th,
#wp-calendar td {
    padding: 8px;
}

table#wp-calendar th {
    border: 1px solid #e5e5e5;
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

table#wp-calendar td#today {
    color: #fff;
    background-color: #f01e4a;
}