/*
Theme Name: kopax 
Theme URI:http://raytheme.com
Description: Kopax One Page and Multipurpose Responsive WordPress Theme
Author: Md Azijul Islam
Author URI: https://themeforest.net/user/em40
Version: 1.0.0
Tags: custom-menu, editor-style, featured-images
Text Domain: kopax
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
-------------------------------------------------------------------------------------
CSS INDEX
======================================================================================
* THEME DEFULT CSS
* SECTION TITLE
* SLIDER BUTTON STYLE
* WIDGET  CSS
* HEADING TOP AREA CSS
* HEADING NAV AREA CSS
* SLIDER CSS
* ABOUT SECTION CSS
* SERCIVE CSS
* PROGRESS CSS
* TEAM CSS
* COUNTER AREA CSS
* PRICING AREA CSS
* BRAND AREA CSS
* TESTIMONIAL AREA CSS
* PORTFOLIO AREA CSS
* BLOG AREA CSS
* BLOG DETAILS AREA CSS
* choose AREA CSS
* COMMENT AREA CSS
* PAGINATION AREA CSS
* BREADCRUMB AREA CSS
* 404 AREA CSS
* FOOTER TOP AREA CSS
* FOOTER TOP 2 AREA CSS
* FOOTER MIDDLE AREA CSS
* FOOTER BOTTOM AREA CSS
* SCROLL TOP CSS
* RESPONSIVE CSS
============================================================================================= */

/*----------------------------------------
 Don't change any css from here. If you need to change, Please use child theme.
------------------------------------------*/

html,
body {}

img {
    max-width: 100%;
    height: auto;
}

/* ELASTYCZNOÅšÄ† OBRAZKÃ“W */

.same-image {
    width: 100%;
    height: auto;
}

/* box layout */

.box.wrapper {
    max-width: 1200px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 5px #ddd;
}

/* end box layout */

.fix {
    overflow: hidden;
}

.clear_both {
    clear: both;
}

/*=====================
kopax HEADING TOP AREA CSS
=========================*/

.admin-bar .kopax-main-menu {}

/* LEFT RIGHT CSS */

.em40_header_area_main {}

.em40_header_area_main.hdisplay_none {
    display: none;
}

.kopax-header-top {
    padding: 5px 0;
    background: #f7f7f7;
}

.top-address p {
    margin-bottom: 0;
}

.top-address p span,
.top-address p a {
    margin-right: 20px;
}

.top-address p span i,
.top-address p a i {
    font-size: 13px;
    color: #d71015;
    margin-right: 10px;
}

.top-address p a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

/* TOP RIGHT CSS */

.top-right-menu ul.social-icons {
    margin: 0;
    padding: 0;
}

.top-right-menu ul.social-icons li {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}

.top-right-menu ul.social-icons li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

.top-address p a,
.top-right-menu ul.social-icons li a,
.top-address p span {
    color: #333;
    font-size: 13px;
}

.top-right-menu .social-icons li a:hover,
.top-right-menu .social-icons li a i:hover {
    color: #d71015;
}

.top-both-p0 .top-address p a,
.top-both-p0 .top-address p span {
    margin-right: 0px;
    margin-left: 12px;
}

/* sub menu css */

.top-right-menu ul .sub-menu {
    position: absolute;
    left: 0px;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    border-top: 1px solid #f00;
    width: 150px;
    transition: .5s;
    text-align: left;
    background: #fff;
    z-index: 1;
}

.top-right-menu ul.social-icons li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.top-right-menu ul .sub-menu li {
    padding: 5px 0px 0px 5px;
}

.top-right-menu ul .sub-menu li a {
    font-size: 12px;
}

.top-right-menu ul .sub-menu ul {
    display: none;
}

.top-welcome p {
    padding: 0px;
    margin: 0px;
}

.top-address.em-login a {
    margin-right: 10px;
}

.top-address.em-login a+a {
    margin-right: 0;
}

.top-address.em-login p a i,
.top-address.em-login p a i {
    margin-right: 5px;
}

.top-address.em-login a+a:before {
    content: "|";
    margin-right: 12px;
}

.txtc {
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* top opening */

.top-address.menu_18 span {
    background: #fff;
    padding: 8px 15px 9px;
    display: inline-block;
    color: #333;
}

.top-right-menu ul.social-icons.menu_18,
.top-right-menu ul.social-icons.menu_19 {
    padding: 7px 0;
}

.em-login.menu_18,
.em-quearys-top.menu_19 {
    padding: 7px 0;
}

/* top quearys */

.em-top-quearys-area {
    position: relative;
}

.em-header-quearys {
    list-style: none;
}

.em-quearys-menu i {
    background: #d71015 none repeat scroll 0 0;
    border-radius: 50px;
    display: inline-block;
    height: 26px;
    text-align: center;
    width: 26px;
    line-height: 26px;
    font-size: 11px;
    color: #fff;
}

.em-quearys-inner {
    position: absolute;
    right: 0;
    top: 36px;
    z-index: 999;
    display: none;
    transition: .5s;
}

.em-quearys-inner {}

.em-quearys-form {
    background-color: #ffffff;
    border-top: 1px solid #1bb4b9;
    width: 290px;
    float: right;
}

.top-form-control {
    position: relative;
}

.top-form-control input {
    background: #f9f9f9;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    height: 48px;
    padding: 0 40px 0 15px;
    width: 100%;
    border: none;
    transition: 1s;
}

.top-form-control button.top-quearys-style {
    position: absolute;
    right: 6px;
    top: 50%;
    /* height: 44px; */
    background: transparent;
    font-size: 15px;
    border: none;
    color: #1bb4b9;
    transform: translateY(-50%);
}

.em-s-hidden {
    display: none !important;
}

/* address left right icon */

.top-right-menu.litop {
    float: left;
}

/* mobile logo   */

.mobile_menu_logo.text-center {
    padding: 20px 0;
}

/*=====================
END kopax HEADING TOP AREA CSS
=========================*/

/*=======================
kopax HEADING NAV AREA CSS
========================*/

.headroom--pinned {
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}

}

.mean-container .mean-bar {
    padding: 0;
}

.mean-container .mean-nav {
    background: #d71015 none repeat scroll 0 0;
    float: none;
}

.main_menu_div {
    position: relative;
}

.kopax_nav_area {
    background: #fff none repeat scroll 0 0;
}

/* LOGO CSS */

.logo {}

.logo a {
    font-size: 23px;
    font-weight: 700;
    display: inline-block;
}

.kopax_menu {}

/* MENU CSS */

.kopax_menu ul {
    text-align: right;
    list-style: none;
}

.kopax_menu>ul>li {
    display: inline-block;
    position: relative;
}

.kopax_menu>ul>li>a {
    display: block;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative;
    margin: 38px 15px;
    color: #111;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.kopax_menu>ul>li>a::before,
.kopax_menu>ul>li.current>a::before {
    content: "";
    position: absolute;
    left: 0;
    transition: .5s;
    bottom: -10px;
    height: 2px;
    width: 15%;
    background: #d71015;
    margin: auto;
    right: 0;
    opacity: 0;
    transition: .5s;
}

.heading_style_2 .kopax_menu>ul>li>a {
    color: #fff;
}

.heading_style_3 .kopax_menu>ul>li>a {
    color: #fff;
}

.heading_style_4 .kopax_menu>ul>li>a {
    color: #fff;
}

.heading_style_5 .kopax_menu>ul>li>a {
    color: #fff;
}

.kopax_menu ul li:last-child a {
    margin-right: 0px;
}

.kopax_menu>ul>li.current>a,
.kopax_menu>ul>li:hover>a {
    color: #d71015;
    background-color: transparent;
}

.kopax_menu>ul>li:hover>a::before,
.kopax_menu>ul>li.current>a::before {
    opacity: 1;
}

/* transparent 2 */

.trp_nav_area {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: .5s;
    transition: .5s;
}

.hbg2 {
    background: rgba(0, 0, 0, .7);
    padding: 0 0 10px;
}

/* stycky nav js */

.transprent-menu.menu4 {
    position: relative;
}

.transprent-menu .kopax_nav_area {
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background-color: transparent;
    padding: 0;
    -webkit-transition: .5s;
    transition: .5s;
    position: absolute;
}

.kopax_nav_area.postfix {
    transition: .3s;
}

.kopax_nav_area.prefix,
.hbg2 {}

.kopax_nav_area.prefix .kopax_menu>ul>li>a {
    /* color:#fff; */
}

.kopax_nav_area.prefix .kopax_menu>ul>li.current>a {
    color: #d71015;
}

/* 7FORM - APPLY TEMPLATE dodane */

.apply-form {
    margin: 10px 0px;
}

/* CHARAKTERYSTYKA PRZYCISKA "POWRÃ“T" */

.x {
    position: fixed;
    z-index: 9999;
    top: 60px;
    left: 0;
    background-color: gray;
    padding: 10px 50px;
    color: white;
    font-weight: 600;
    text-align: center;
}

@media only screen and (max-width: 980px) {
    .x {
        background: gray;
        position: fixed;
        z-index: 9999;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: gray;
    }
}

/* LOGO LEFT RIGHT CSS */

.logo-left {}

.logo-right .logo {
    text-align: right;
}

.logo-right .kopax_menu>ul {
    text-align: left;
}

.logo-right .kopax_menu>ul>li:first-child a {
    padding-left: 0px;
}

.logo-right .kopax_menu>ul>li:last-child a {
    padding-right: auto;
}

/* logo top */

.logo-top .logo {
    text-align: center;
}

.logo-top .kopax_menu>ul {
    text-align: center;
}

.logo-top>.kopax_menu>ul>li:last-child a {
    padding-right: auto;
}

/* sub menu style */

.kopax_menu ul .sub-menu {
    position: absolute;
    left: 0;
    top: 130%;
    width: 197px;
    text-align: left;
    background: #292929;
    margin: 0;
    padding: 15px 0;
    z-index: -1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.kopax_menu ul li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    z-index: 9;
}

.kopax_menu ul .sub-menu li {
    position: relative;
}

.kopax_menu ul .sub-menu li a {
    display: block;
    padding: 12px 20px;
    margin: 0;
    line-height: 1.3;
    letter-spacing: normal;
    font-size: 12px;
    color: #c9c9c9;
    font-weight: 500;
    text-transform: uppercase;
    transition: .1s;
    visibility: inherit !important;
}

.kopax_menu ul .sub-menu li:hover>a,
.kopax_menu ul .sub-menu .sub-menu li:hover>a,
.kopax_menu ul .sub-menu .sub-menu .sub-menu li:hover>a,
.kopax_menu ul .sub-menu .sub-menu .sub-menu .sub-menu li:hover>a {
    /*background: rgba(255,255,255, .06);
    color: #d71015; byÅ‚o dodane*/
    background: rgba(245, 245, 245);
    color: #000;
}

/* sub menu 2 */

.kopax_menu ul .sub-menu .sub-menu {
    left: 100%;
    top: 130%;
    opacity: 0;
    visibility: hidden;
}

.kopax_menu ul .sub-menu li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 0%;
}

/* sub menu 3 */

.kopax_menu ul .sub-menu .sub-menu li {
    position: relative;
}

.kopax_menu ul .sub-menu .sub-menu .sub-menu {
    right: 100%;
    left: auto;
    top: 130%;
    opacity: 0;
    visibility: hidden;
}

.kopax_menu ul .sub-menu .sub-menu li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 0%;
}

/* sub menu 4 */

.kopax_menu ul .sub-menu .sub-menu .sub-menu li {
    position: relative;
}

.kopax_menu ul .sub-menu .sub-menu .sub-menu .sub-menu {}

.kopax_menu ul .sub-menu .sub-menu .sub-menu li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 0%;
}

/* user login */

.logged-in .transprent-menu .kopax_nav_area.prefix {
    top: 32px;
}

.logged-in .trp_nav_area.hbg2 {
    top: 32px;
}

/* maing menu search */

nav.kopax_menu.main-search-menu {
    float: right;
}

.kopax_menu.main-search-menu>ul,
.em-quearys-top.msin-menu-search {
    display: inline-block;
}

.em-quearys-top.msin-menu-search .em-quearys-menu i {
    height: 36px;
    width: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.em-quearys-top.msin-menu-search .em-quearys-inner {
    top: 59px;
}

/* has menu icon */

.kopax-main-menu .menu-item-has-children>a:after {
    margin-left: 5px;
    content: "\f107";
    font-family: FontAwesome;
    opacity: 1;
    font-size: 13px;
    opacity: .5;
}

.kopax-main-menu .menu-item-has-children .menu-item-has-children>a:after {
    margin-left: 8px;
    content: "\f105";
}

/* menu button */

.donate-btn-header {
    display: inline-block;
}

a.dtbtn {
    border: none;
    display: block;
    font-size: 14px;
    margin-left: 0px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #d71015;
    border-radius: 50px;
    color: #fff;
    padding: 10px 30px;
    font-family: "Roboto Condensed", sans-serif;
}

a.dtbtn:hover {
    background-color: #cd0022;
}

.redX {
    color: #d71015;
}

/* logo sticky */

.kopax-main-menu .logo a.main_sticky_main_l {
    display: block;
}

.kopax-main-menu .logo a.main_sticky_l {
    display: none;
}

/* logo pre */

.kopax-main-menu .prefix .logo a.main_sticky_main_l {
    display: none;
}

.kopax-main-menu .prefix .logo a.main_sticky_l {
    display: block;
}

.headroom--pinned {
    transform: translateY(0);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    transition: transform .25s ease-in-out;
    will-change: transform;
}

.menu-height-space {
    height: 100px;
}

/*=======================
END kopax HEADING NAV AREA CSS
========================*/

/*=====================
kopax BLOG AREA CSS
=========================*/

.kopax-blog-area {
    padding: 90px 0 90px;
}

.kopax-single-blog {
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
}

.kopax-single-blog.kopax-lt {
    text-align: left;
}

.kopax-blog-index.blog-area.kopax-blog-area,
.kopax-blog-area.kopax-blog-archive {
    padding: 100px 0 50px;
}

.kopax-blog-index.blog-area.kopax-blog-area {
    padding: 100px 0 100px;
}

/* BLOG THUMB CSS */

.kopax-blog-thumb {
    overflow: hidden;
}

.kopax-blog-thumb a {
    position: relative;
}

.kopax-blog-thumb a {
    display: block;
}

.kopax-blog-thumb a:before {
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #f00;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: 999;
    -webkit-transition: .5s;
    transition: .5s;
}

.kopax-blog-thumb img {
    -webkit-transition: .5s;
    transition: .5s;
    display: block;
}

/* BLOG TITLE AND CONTENT CSS */

.blog-inner {}

.blog-content {}

.blog-content h2 {
    color: #333;
    margin: 0 0 18px;
}

.blog-content h2 a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-content h2 a:hover {
    color: #d71015;
}

.blog-content p {}

/* BLOG POST META CSS */

.kopax-blog-meta {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

.kopax-blog-meta:after {
    display: block;
    clear: both;
    content: "";
}

.kopax-blog-meta a {}

/* BLOG POST META LEFT CSS */

/* left style 1 */

.kopax-blog-meta-left {
    padding: 0 0 9px;
}

.kopax-blog-meta-left a,
.kopax-blog-meta-left span {
    color: #666;
    font-size: 12px;
    margin-right: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.kopax-blog-meta-left a:hover,
.kopax-blog-meta-left span:hover {
    color: #d71015;
}

.kopax-blog-meta-left i {
    color: #d71015;
    margin-right: 5px;
}

/* BLOG POST META RIGHT CSS */

.kopax-blog-meta-right {
    float: right;
    padding: 0px 0;
}

.kopax-blog-meta-right a,
.kopax-blog-meta-right span {
    font-size: 12px;
    color: #454545;
    margin-left: 5px;
}

.kopax-blog-meta-right i {
    margin-right: 5px;
}

/* blog readmore */

.readmore a {
    border: 1px solid #ddd;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    padding: 6px 10px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.readmore a:hover {
    border-color: #d71015;
    background: #d71015;
    color: #fff;
}

/* blog hover */

.kopax-single-blog:hover .kopax-blog-thumb a:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.kopax-single-blog:hover .kopax-blog-thumb img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*========================
EMD kopax BLOG AREA CSS
=========================*/

/*========================
kopax BLOG DETAILS AREA CSS
=========================*/

.kopax-single-blog-details {}

.kopax-single-blog--thumb {}

.kopax-single-blog--thumb a {}

.kopax-single-blog--thumb img {}

.kopax-single-blog--thumb {
    padding-bottom: 20px;
}

.kopax-single-blog-title h2 {
    font-size: 23px;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 10px;
}

.kopax-single-blog-details .kopax-blog-meta {
    padding: 0px;
    margin: 0px;
}

.kopax-single-blog-details .kopax-blog-meta-right,
.kopax-single-blog-details .kopax-blog-meta-left {
    padding: 0px 0 10px 0;
}

.kopax-blog-social {
    margin-bottom: 25px;
    margin-top: 25px;
}

.kopax-single-icon-inner {
    text-align: center;
}

.kopax-single-icon-inner a {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #d71015;
    border-radius: 50%;
    color: #d71015;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 38px;
    margin: 0 5px;
    text-align: center;
    width: 40px;
}

.kopax-single-icon-inner a:hover {
    background: #d71015;
    border-color: #d71015;
    color: #fff;
}

.kopax-single-icon-inner a i {}

.single-blog-content ul {
    padding-bottom: 10px;
}

/*========================
kopax COMMENT AREA CSS
=========================*/

/* POST REPLY CSS */

.post_comment {
    border: 1px solid #f1f1f1;
    margin: 20px 0;
    padding: 0 15px;
}

.comment_inner {}

.commment_title {}

.commment_title h3 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    position: relative;
    text-transform: capitalize;
}

.commment_title h3::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -9px;
    width: 40px;
    height: 2px;
    background: #d71015;
}

.commment_title p {}

.post_replay {}

.post_replay_inner {
    display: flex;
    margin-bottom: 12px;
}

.mgl-30 {
    margin-left: 30px;
}

.post_reply_thumb {}

.post_reply_thumb img {
    border-radius: 50%;
}

.post_replay {
    margin-top: 25px;
}

.post_reply {
    padding-left: 15px;
    width: 100%;
}

.post_reply div.st {
    font-size: 18px;
    font-weight: 400;
}

.post_reply div.st a {
    color: #333;
}

.reply_date {
    overflow: hidden;
    margin-bottom: 5px;
}

.reply_date span.span_left {
    float: left;
    font-size: 13px;
}

.reply_date span.span_right {
    float: right;
    color: #5986f2;
    font-size: 12px;
    font-weight: 400;
}

.post_reply p {}

.comments-area .children {
    margin-left: 30px;
}

.post_comment .post_comment {
    margin-left: 15px;
}

/* COMMENT FORM CSS */

.comment_field {}

.comment_field .input-field {
    width: 33.33%;
    float: left;
}

.comment_field .input-field label,
.comment_field .textarea-field label {
    color: #606060;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 500;
}

.comment_field .textarea-field label {
    margin-top: 30px;
}

.comment_field .input-field input {
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    height: 42px;
    font-size: 12px;
}

.comment_field .input-field input[type="text"] {}

.comment_field .input-field input[type="email"] {}

.comment_field .textarea-field textarea {
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 120px;
    padding: 10px;
}

.comment_field .input-field input,
.comment_field .textarea-field textarea {
    color: #555555;
}

.kopax_btn {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #444;
    margin-top: 30px;
    padding: 8px 20px;
    transition: all 0.5s ease 0s;
}

.kopax_btn:hover {
    border-color: #d71015;
    background: #d71015;
    color: #fff;
}

.em-theme-main-page .commment_title h3 {
    margin-top: 0px;
}

.em-theme-main-page .empgc {
    margin-top: 40px;
}

.em-theme-main-page .empgc.commment_title h3 {
    margin-bottom: 35px;
}

.em-single-page-comment .commment_title.empgc>h3 {
    margin-bottom: 35px;
}

.logged-in-as {
    margin-bottom: 0;
    margin-top: 30px;
}

.logged-in-as a {
    color: #333;
}

.comment-respond {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 25px 10px 30px;
    background-color: #f1f1f1;
}

a.comment-edit-link {
    margin-bottom: 12px;
    display: inline-block;
}

.em-theme-main-page .comments-area {
    margin-top: 40px;
    clear: both;
}

/*========================
 kopax unittest
=========================*/

.blog-page-title h2 {
    color: #333;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

.blog-page-title a {
    color: #333;
    display: inline-block;
    font-weight: 500;
}

.blog-page-title h2 a:hover {
    color: #d71015;
}

.em-blog-content-area {
    padding: 29px 13px 30px;
}

.single-blog-content iframe {
    margin-top: 20px;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
    font-size: 30px;
}

.post_reply h1,
.post_reply h2,
.post_reply h3,
.post_reply h4,
.post_reply h5,
.post_reply h6 {
    color: #303030;
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-content h2,
.post_reply h2 {
    font-size: 26px;
}

.blog-content h3,
.post_reply h3 {
    font-size: 22px;
}

.blog-content h4,
.post_reply h4 {
    font-size: 20px;
}

.blog-content h5,
.post_reply h5 {
    font-size: 18px;
}

.blog-content h6,
.post_reply h6 {
    font-size: 17px;
}

/* single blog */

.single-blog-content h1,
.single-blog-content h2,
.single-blog-content h3,
.single-blog-content h4,
.single-blog-content h5,
.single-blog-content h6 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
}

.single-blog-content h2 {
    font-size: 26px;
}

.single-blog-content h3 {
    font-size: 22px;
}

.single-blog-content h4 {
    font-size: 20px;
}

.single-blog-content h5 {
    font-size: 18px;
}

.single-blog-content h6 {
    font-size: 17px;
}

/*========================
 kopax PAGINATION AREA CSS
=========================*/

.paginations {
    text-align: center;
    margin-top: 20px;
}

.paginations a,
.page-numbers span.current {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: auto 5px;
    border: 1px solid #ddd;
    color: #888;
}

.page-numbers li {
    display: inline-block;
}

.paginations a:hover,
.paginations a.current,
.page-numbers span.current {
    background: #d71015;
    border-color: #d71015;
    color: #fff;
}

/*========================
 END kopax PAGINATION AREA CSS
=========================*/

.kc_counter_box i {
    display: inline-block;
    font-size: 45px;
    margin-bottom: 0;
}

/*========================
 kopax BREADCRUMB AREA CSS
=========================*/

.breadcumb-blog-area {
    padding: 60px 0 40px;
    background-color: #f7f7f7;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcumb-inner h2 {
    font-size: 36px;
    color: #464646;
}

.breadcumb-area {
    padding: 100px 0 100px;
    background-color: #f7f7f7;
    background-position: center top;
    background-repeat: no-repeat;
}

.breadcumb-inner ul {}

.breadcumb-inner li {
    display: inline-block;
    margin: 0 2px;
    color: #464646;
}

.breadcumb-inner li:nth-last-child(-n+1) {
    color: #d71015;
}

.breadcumb-inner li a {
    color: #464646;
}

.brpt h2 {
    font-size: 22px;
}

.lcase {
    text-transform: lowercase;
}

.ucase {
    text-transform: uppercase;
}

.ccase {
    text-transform: capitalize;
}

/*========================
 END kopax BREADCRUMB AREA CSS
=========================*/

/*========================
 kopax 404 AREA CSS
=========================*/

.not-found-area {
    background-color: #fff;
    background-position: center top;
    background-repeat: repeat;
    background-size: cover;
    border-top: 1px solid #f5f3f3;
    padding: 0 0 16px;
}

.not-found {
    display: table;
    width: 100%;
    height: 500px;
    text-align: center;
    padding-bottom: 40px;
}

.not-found-inner {
    display: table-cell;
    vertical-align: middle;
}

.not-found-inner {
    font-size: 30px;
}

.not-found-inner h2 {
    color: #eb1b2b;
    display: inline-block;
    font-size: 160px;
    font-weight: 700;
    line-height: 1.2;
    padding: 15px 0;
}

.not-found-inner p {
    font-size: 30px;
}

.not-found-inner a {
    color: #606b82;
    font-size: 24px;
    margin-top: 40px;
    display: inline-block;
    text-decoration: underline;
}

/* search error */

.kopax-search-page {
    background: #fff;
}

.search-error .search input {
    padding: 20px 0;
}

.search-error .search input[type="text"] {
    padding-left: 10px;
}

.search-error .search button {
    top: 48%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-error>p {
    font-size: 14px;
    margin: 14px 0 19px;
}

.search-error>h3 {
    display: block;
    font-size: 30px;
    color: #333;
}

.search-error .search input {
    height: 54px;
    border: 1px solid #ddd;
}

/*========================
 END kopax 404 AREA CSS
=========================*/

/*footer top area css*/

.form-inner {
    width: 100%;
}

.form-controls {}

.form_inner {}

.heading {}

.heading h3,
.field {
    overflow: hidden;
    padding-bottom: 25px;
    width: 100%;
}

.form-field {
    width: 99%;
    overflow: hidden;
    float: left;
}

.form-field input {
    height: 50px;
    width: 100%;
    border: 1px solid #ddd;
    color: #171313;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    outline: none;
    -webkit-transition: .5s;
    transition: .5s;
}

.text_area {}

.text_area textarea {
    width: 99%;
    border: 1px solid #ccc;
    height: 199px;
    color: #171313;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 5px;
    outline: none;
    -webkit-transition: .5s;
    transition: .5s;
}

.form-field input:focus,
.text_area textarea:focus {
    color: #d71015;
    border: 1px solid #d71015;
}

.buttons {
    margin-top: 0;
}

.buttons submit {}

.sbuton {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #333666;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: uppercase;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.sbuton:hover {
    background: #d71015 none repeat scroll 0 0;
    border-color: #d71015);
    color: #fff;
}

.form-field input::-moz-placeholder {
    margin-left: 10px;
}

.form-field input[type="date"]::-moz-placeholder {
    margin-left: 10px;
}

/* 2 */

.home-2 .field.topfield .form-field {
    float: left;
    width: 50%;
}

.home-2 .field.topfield .form-field:after {
    clear: both;
    content: "";
    display: block;
}

.home-2 .field.topfield .form-field input {
    border: 1px dotted #ffab31;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    width: 98%;
    background: transparent;
}

.home-2 .text_area textarea {
    border: 1px dotted #ffab31;
    background: transparent;
    color: #fff;
    height: 160px;
}

.home-2 .field.topfield input:focus,
.home-2 .text_area textarea:focus {
    border: 1px solid #fff;
    color: #fff;
}

.home-2 .sbuton {
    background: transparent none repeat scroll 0 0;
    border: 1px dotted #ffab31;
    color: #fff;
    padding: 12px 40px;
}

.home-2 .sbuton:hover {
    background: #ffab31;
}

/*home 3 form */

.home-3 .form-field input:focus,
.home-3 .text_area textarea:focus {
    border: 1px solid #d71015;
    color: #d71015;
}

.home-3 .sbuton:hover {
    background: #d71015 none repeat scroll 0 0;
    color: #fff;
}

/*========================
kopax FOOTER TOP AREA CSS
=========================*/

.top-address-area {
    background: #111111;
    padding: 90px 0px 85px;
    text-align: center;
}

.top_address_logo {
    margin-bottom: 30px;
}

.address_content {
    padding-top: 38px;
}

.top_address_content a,
.top_address_content span {
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 12px;
    margin-right: 14px;
}

.top_address_content a i,
.top_address_content span i {
    font-size: 14px;
    margin-right: 11px;
}

.footer-top-address h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 26px;
}

.footer-top-address h2 span {
    color: #d71015;
    font-weight: 700;
}

/*========================
kopax FOOTER TOP AREA CSS
=========================*/

.footer-top {
    background: #fafafa none repeat scroll 0 0;
    padding: 52px 0 12px;
}

.footer-top-inner h2 {
    color: #111;
    font-family: "Roboto /*zmieniono*/", sans-serif;
    font-size: 35px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
}

.footer-top-inner h2 span {
    color: #d71015;
    font-weight: 600;
}

.footer-top-inner p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 62%;
}

.footer-social-icon {
    padding: 10px 0 20px;
    text-align: center;
}

.footer-social-icon a i {
    background-color: #eee;
    border-radius: 50px;
    color: #22335f;
    display: inline-block;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    margin: 0 7px;
    text-align: center;
    width: 45px;
    transition: .3s;
}

.footer-social-icon a i:hover {
    background-color: #22335f;
    color: #fff;
}

.footer-social-icon.htop-menu-s {
    padding: 0;
    display: inline-block;
    margin-left: 30px;
}

.footer-social-icon.htop-menu-s a i {
    font-size: 14px;
    height: 35px;
    line-height: 33px;
    margin: 0 3px;
    width: 35px;
    border: 1px solid #ddd;
    color: #333;
}

.footer-top-inner .text-center {
    margin-bottom: 11px;
    text-align: center;
}

/*========================
END FOOTER TOP AREA CSS
=========================*/

/*========================
kopax FOOTER MIDDLE AREA CSS
=========================*/

.footer-middle {
    background: #151414 none repeat scroll 0 0;
    padding: 75px 0 100px;
}

.footer-middle.wpfd {
    padding: 0;
}

.wpfdp {
    padding-top: 65px;
    padding-bottom: 80px;
}

.footer-middle .widget h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-middle table#wp-calendar td,
.footer-middle table#wp-calendar th {
    color: #fff;
}

.footer-middle #archives-dropdown--1 {
    height: 34px;
}

.footer-middle .widget ul li,
.footer-middle .widget ul li a,
.footer-middle .widget ul li::before,
.footer-middle .tagcloud a,
.footer-middle caption,
.footer-middle table,
.footer-middle table td a,
.footer-middle cite,
.footer-middle .rssSummary,
.footer-middle span.rss-date,
.footer-middle span.comment-author-link,
.footer-middle .textwidget p,
.footer-middle .widget .screen-reader-text {
    color: #fff;
}

.footer-middle .widget h2 {}

.footer-middle .widget ul li::before {}

.footer-middle .tagcloud a {}

.footer-middle .widget ul {
    list-style: none;
}

.footer-middle .widget ul li a,
.footer-middle .widget ul li::before {
    transition: .5s;
}

.footer-middle .widget ul li a:hover,
.footer-middle .widget ul li:hover::before {
    color: #d71015;
}

.recent-portfolio-area {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.recent-portfolio {
    width: 33.33%;
}

.recent-portfolio-image img {
    width: 100%;
}

/*========================
END FOOTER middle AREA CSS
=========================*/

/*========================
kopax FOOTER BOTTOM AREA CSS
=========================*/

.footer-bottom {
    background: #0b0b0b none repeat scroll 0 0;
    padding: 25px 0;
}

.copy-right-text {}

.copy-right-text p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.footer-menu {}

.footer-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    color: #fff;
    padding: 0 10px;
    display: block;
}

.copy-right-text a:hover,
.footer-menu ul li a:hover {
    color: #d71015;
}

.footer-menu ul li:last-child a {
    padding-right: 0px;
}

.footer_style_3 .footer-menu ul li:first-child a {
    padding-left: 0px;
}

.footer-menu ul ul {
    display: none;
}

/*========================
END FOOTER BOTTOM AREA CSS
=========================*/

/*========================
EM40 SCROLL TOP CSS
=========================*/

#scrollUp {
    background: #22335f none repeat scroll 0 0;
    bottom: 30px;
    color: #fff;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    right: 30px;
    text-align: center;
    width: 40px;
    margin-bottom: 3em;
}

#scrollUp i {
    color: #fff;
}

/*========================
END EM40 SCROLL TOP CSS
=========================*/

.copy-right-text a {
    color: #d71015;
}

.template-home .vc_row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #666;
    font-size: 16px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #666;
    font-size: 16px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #666;
    font-size: 16px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #666;
    font-size: 16px;
}

.home-2 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #FFF;
    font-size: 16px;
}

.home-2 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFF;
    font-size: 16px;
}

.home-2 :-ms-input-placeholder {
    /* IE 10+ */
    color: #FFF;
    font-size: 15px;
}

.home-2 :-moz-placeholder {
    /* Firefox 18- */
    color: #FFF;
    font-size: 15px;
}

.wpb_gallery.wpb_content_element.vc_clearfix {
    margin-bottom: 0;
}

.recent-post-item {
    clear: both;
}

.recent-post-image {
    float: left;
    margin-right: 10px;
}

.recent-post-image a {
    display: block;
    margin-top: 10px;
}

.recent-post-text {
    overflow: hidden;
}

.recent-post-text>h4 {
    margin-bottom: 0;
}

.recent-post-text h4 a {
    color: #333;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.recent-post-text h4 a:hover {
    color: #d71015;
}

.recent-post-text .rcomment {
    color: #333;
    font-size: 14px;
    text-transform: none;
}

.recent-post-text .rcomment i {
    margin-right: 5px;
}

.recent-post-text .rcomment {
    color: #333;
}

.footer-middle .recent-post-text h4 a {
    color: #fff;
}

.footer-middle .recent-post-text .rcomment {
    color: #fff;
}

.mean-container .mean-bar {
    float: none;
    background: #22335f none repeat scroll 0 0;
}

.mean-container .mean-nav ul li li a {
    color: #333;
    opacity: 1;
}

/* kc element */

.template-home-wrapper {
    overflow: hidden;
}

.kc-blog-posts-3 .kc-list-item-3>a img {
    transition: all 0.5s ease 0s;
}

.section-title.t_center {
    margin: auto;
    text-align: center;
    width: 63%;
}

.section-title.t_left {
    margin: auto auto auto 0;
    width: 63%;
    text-align: left;
}

.section-title.t_right {
    margin: auto 0 auto auto;
    width: 63%;
    text-align: right;
}

.section-title.t_right .em-bar {
    margin: 0 0 5px auto;
}

.section-title.t_left .em-bar {
    margin: 0 0 5px;
}

.section-title h2 {
    color: #333;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-title p {
    color: #666;
    font-family: Roboto/*zmieniono*/
    ;
    letter-spacing: 1px;
}

.em-icon {}

.em-icon i {}

.em-bar-main {
    margin: 10px 0 13px;
}

.em-bar {
    background: #d71015 none repeat scroll 0 0;
    height: 2px;
    margin: 0 auto 5px;
    width: 62px;
}

.em-bar.em-bar-big {
    width: 80px;
}

.em-image {
    margin-bottom: 10px;
}

.em-image img {}

/*=====================
kopax ABOUT SECTION
=========================*/

.em-feature {
    padding: 24px 15px 34px;
    text-align: center;
    transition: .5s;
}

.em-feature:hover {
    background-color: #fafafa;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.em_feature-icon {
    font-size: 60px;
    color: #333;
}

.em_feature-icon {
    text-align: center;
}

.em_content_text h2 {
    margin: 11px 0 20px;
    padding: 0;
    text-transform: uppercase;
}

.em-feature:hover .em_feature-icon {
    color: #d71015;
}

/*=====================
 END kopax About  CSS
=========================*/

.about_us_area .kc_text_block p {
    margin-bottom: 15px;
}

.about_us_area .kc_text_block p a {
    color: #d71015;
    text-decoration: underline;
}

.about_us_area .kc-title-wrap h2 {
    font-family: "Roboto Condensed", sans-serif;
}

.about_us_area .progress-item span {
    font-family: "Roboto Condensed", sans-serif;
}

/*=====================
 END kopax Purchase  CSS
=========================*/

.purchase_area .kc_text_block p {
    color: rgba(102, 102, 102, 1);
    font-family: Roboto/*zmieniono*/
    ;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.purchase_area .kc-pro-button>a {
    font-family: Roboto/*zmieniono*/
    ;
    letter-spacing: 2px;
}

/*=====================
 END kopax SERVICE  CSS
=========================*/

.em-service {
    background-color: #fafafa;
    padding: 25px 30px 34px;
    text-align: left;
    transition: all 0.5s ease 0s;
}

.em-service:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.em_single_service_text {}

.service_top_text {
    display: block;
    overflow: hidden;
}

.em_single_service_text {}

.em-service-icon {
    font-size: 60px;
    color: #333;
    transition: .5s;
}

.em-service:hover .em-service-icon {
    color: #22335f;
}

.em-service-title {
    overflow: hidden;
}

.em-service-title h2 {
    margin: 11px 0 20px;
    padding: 0;
    text-transform: uppercase;
}

.service-btn>a {
    color: #d71015;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 23px;
    text-transform: uppercase;
}

.service-btn>a i {
    font-size: 18px;
    margin-left: 8px;
    opacity: 0;
    transition: .5s;
}

.service-btn>a:hover i {
    opacity: 1;
}

/*========================
EM40 TEAM CSS
=========================*/

.em-team {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* team image css */

.em-team-content-image {}

.em-team-content-waraper {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: -65px;
    left: 0;
    margin: 0 15px;
    padding: 30px 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
}

.em-team-content-title h2 {
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    font-size: 18px;
}

.em-team-content-subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}

.em-team-content-socials a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 14px 3px 0;
    text-align: center;
    width: 35px;
    color: #d71015;
}

.em-team-content-socials a:hover {
    background: #333;
    color: #fff;
}

.em-team:hover .em-team-content-waraper {
    background-color: rgba(240, 30, 74, 0.8);
    bottom: 0px;
}

.em-team:hover .em-team-content-title h2,
.em-team:hover .em-team-content-subtitle {
    color: #fff;
}

/* team social 2 */

.team-style-2 .em-content-socials {
    padding: 12px 0 7px;
}

.team-style-2 .em-content-socials a {
    border: 1px solid #f1f1f1;
    color: #333;
}

.team-style-2 .em-content-socials a:hover {
    color: #fff;
    border-color: #d71015;
    background: #d71015;
}

/* team social 3 */

.team-style-3 .em-content-socials {
    padding: 12px 0 7px;
}

.team-style-3 .em-content-socials a {
    border: 1px solid #f1f1f1;
    color: #333;
}

.team-style-3 .em-content-socials a:hover {
    color: #fff;
    border-color: #d71015;
}

.team-style-3 .em-content-socials {
    margin-top: -50px;
    transition: all 0.5s ease 0s;
    opacity: 0;
}

.em-team:hover .team-style-3 .em-content-socials {
    margin-top: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* team content */

.em-content-title h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}

.em-content-subtitle {
    font-size: 14px;
    margin: 5px 0 0;
    text-transform: uppercase;
}

/* team button */

.em-content-button a {
    display: inline-block;
    transition: all 0.5s ease 0s;
}

/*========================
EM40 CONTACT FORM 7
=========================*/

.form-area {
    margin: auto;
    width: 65.7%;
}

.form-controls {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    padding: 60px 44px 60px 50px;
}

.form-address-item {
    float: left;
    text-align: center;
    width: 33.33%;
}

.form-address-icon i {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 19px;
    padding-top: 0;
}

.form-address-text>p {
    color: #fff;
    line-height: 1;
}

.form-title {
    text-align: center;
}

.form-title>h2 {
    color: #fff;
    display: inline-block;
    padding: 36px 0 0;
    text-align: center;
    text-transform: uppercase;
}

.form_inner {}

.heading {}

.heading h3,
.field {
    overflow: hidden;
    padding-bottom: 0;
    width: 100%;
}

.form-field {
    width: 99%;
    overflow: hidden;
    float: left;
}

.form-field input {
    border: 1px solid #ddd;
    color: #171313;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    margin-bottom: 18px;
    outline: medium none;
    padding-left: 10px;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.text_area {}

.text_area textarea {
    border: 1px solid #ccc;
    /*border-radius: 6px;*/
    color: #171313;
    font-size: 16px;
    font-weight: 400;
    height: 218px;
    margin-bottom: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 5px;
    transition: all 0.5s ease 0s;
    width: 99%;
}

.contact-1 .text_area textarea {
    height: 123px;
}

.form-field input:focus,
.text_area textarea:focus {
    color: #d71015;
    border: 1px solid #d71015;
}

.buttons {
    text-align: center;
}

.sbuton {
    background: #d71015 none repeat scroll 0 0;
    border: 1px solid #d71015;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-family: "Roboto"/*zmieniono*/
    , sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 1s ease 0s;
}

.contact-2 .sbuton {
    width: 100%;
    border-color: #ccc;
    border-radius: 6px;
    color: #171313;
}

.sbuton:hover {
    background: #fff none repeat scroll 0 0;
    border-color: #d71015;
    color: #d71015;
}

.form-field input::-moz-placeholder {
    margin-left: 10px;
}

.form-field input[type="date"]::-moz-placeholder {
    margin-left: 10px;
}

/* 2 */

.home-2 .field.topfield .form-field {
    float: left;
    width: 50%;
}

.home-2 .field.topfield .form-field:after {
    clear: both;
    content: "";
    display: block;
}

.home-2 .field.topfield .form-field input {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    transition: all 0.3s ease 0s;
    width: 98%;
}

.home-2 .text_area textarea {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    height: 115px;
    border: 1px solid transparent;
    transition: .3s;
}

.home-2 .field.topfield input:focus,
.home-2 .text_area textarea:focus {
    border: 1px solid #666;
    color: #fff;
}

.home-2 .sbuton {
    background: #d71015 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    letter-spacing: 2px;
    padding: 11px 36px;
}

.home-2 .sbuton:hover {
    background: #cd0022 none repeat scroll 0 0;
    color: #fff;
}

/*home 3 form */

.home-3 .form-field input:focus,
.home-3 .text_area textarea:focus {
    border: 1px solid #d71015;
    color: #d71015;
}

.home-3 .sbuton:hover {
    background: #fff none repeat scroll 0 0;
    color: #d71015;
}

/*=====================
mettle PORTFOLIO AREA CSS
=========================*/

.portfolio_nav {
    padding: 0px 0 40px;
}

.portfolio_nav ul {}

.portfolio_nav ul li {
    display: inline;
}

.portfolio_nav ul li {
    background-color: #d71015;
    border-radius: 50px;
    color: #f5f5f5;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3px 15px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.portfolio_nav ul li.current_menu_item {
    color: #fff;
    border-color: #cd0022;
    background-color: #cd0022;
}

.portfolio_nav ul li:hover {
    color: #fff;
    border-color: #cd0022;
    background-color: #cd0022;
}

.prot_wrap {
    overflow: hidden;
}

/* single gallery css */

.single_protfolio {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.prot_thumb {}

.prot_thumb img {
    display: block;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.single_protfolio:hover .prot_thumb img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.prot_content {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .5s;
    transition: .5s;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 4, 0.5) none repeat scroll 0 0;
    z-index: 9;
}

.multi_gallery.prot_content {
    height: 90%;
    width: 80%;
    right: 10%;
    top: 5%;
    bottom: 5%;
    left: 10%;
}

.prot_content_inner {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.single_protfolio:hover .prot_content {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.prot_content h3 {
    margin: 0;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.prot_content h3 a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.prot_content p {
    color: #fff;
    line-height: 1.2;
    margin: 5px 0 0;
}

.prot_content p span {
    display: inline-block;
    padding-top: 0px;
}

.single_protfolio:hover .prot_content {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.porttitle_inner span,
.porttitle_inner4 span,
.prot_content span {
    position: relative;
    margin: 0 2px;
}

.prot_content span:before,
.porttitle_inner4 span:before,
.porttitle_inner span:before {
    bottom: 0;
    content: ",";
    position: absolute;
    right: -5px;
}

.porttitle_inner span:last-child:before,
.prot_content span:last-child:before,
.porttitle_inner4 span:last-child:before {
    content: "";
}

.nospace.col-xs-12 {
    padding: 0px;
}

.nospace .single_protfolio {
    margin-bottom: 0px;
}

/* load button css */

.gallery_load_button {}

.gallery_load_button a {
    border: 1px solid #ddd;
    color: #444;
    padding: 7px 15px;
    display: inline-block;
    font-size: 17px;
    margin-top: 0px;
}

.gallery_load_button a:hover {
    border-color: #333;
    background: #333;
    color: #fff;
}

.prot_wrap.nospace .gallery_load_button a {
    margin-top: 30px;
}

/* portfolio icon css */

.picon {}

.picon a {
    background: #d71015 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0 3px 11px;
    width: 50px;
}

.picon a:hover {
    border-color: #333;
    background: #333;
    color: #fff;
}

/* single portfolio */

.pimgs {
    margin-bottom: 15px;
}

.pimgs img {}

.prots-contentg p {}

.prots-contentg ul {
    margin-left: 40px;
}

/*style 2 */

.pstyle_1 .prot_content {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 9;
}

.pstyle_1 .porttitle_inner {
    bottom: -25px;
    left: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-in-out 0.3s;
}

.pstyle_1 .porttitle_inner h3 {
    line-height: 1;
}

.pstyle_1 .porttitle_inner h3 a {
    color: #333;
}

.pstyle_1 .porttitle_inner p {
    color: #333;
}

.pstyle_1 .prot_content p {
    margin: 2px 0 0;
}

.pstyle_1 .single_protfolio {
    -webkit-transition: .5s;
    transition: .5s;
}

.pstyle_1 .prot_content_inner {
    top: 44%;
}

.pstyle_1 .porttitle_inner p span {
    display: none;
    padding-top: 5px;
}

.pstyle_1 .picon a {
    background: transparent;
    border-radius: 50%;
    color: #d71015;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    margin: 0 8px 11px;
    width: 50px;
    transition: .5s;
}

.pstyle_1 .picon a:hover {
    background: #d71015;
    color: #fff;
}

.pstyle_1 .single_protfolio:hover .picon a {
    margin: 0 3px 11px;
}

.pstyle_1 .single_protfolio:hover .porttitle_inner {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    bottom: 10px;
}

/*  */

.pstyle4.pstyle_1 .single_protfolio:hover {
    box-shadow: none;
}

.pstyle4 .prot_content_inner {
    top: 50%;
}

.pstyle4 .prot_thumb {
    overflow: hidden;
    position: relative;
}

.pprotfolio4 {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.7);
    padding: 17px 10px 20px;
}

.pprotfolio4 {
    border: 1px solid #f1f1f1;
    border-top: 0px solid #f1f1f1;
    padding: 20px 10px 23px;
}

.porttitle_inner4 h3 {
    margin: 0;
    text-transform: capitalize;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}

.porttitle_inner4 h3 a {
    text-transform: uppercase;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.porttitle_inner4 p {
    color: #454545;
    line-height: 1;
    margin: 5px 0 0;
}

.porttitle_inner4 p span {
    display: inline-block;
    padding-top: 5px;
}

/*=====================
Kopax FUN FACT AREA CSS
=========================*/

.single_counter_inner {
    text-align: center;
    transition: all 0.5s ease 0s;
}

.counter_icon i {
    color: #22335f;
    font-size: 50px;
    margin-top: 7px;
    text-align: center;
    display: block;
}

.countr_text>h1 {
    color: #fff;
    display: inline-block;
    font-size: 60px;
    margin: 12px 0 23px;
    padding: 0;
}

.countr_text>h3 {
    color: #d71015;
    display: inline-block;
    font-size: 40px;
}

.counter_title {
    padding: 0 0 0;
}

.counter_title h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

/*=====================
kopax TESTIMONIAL AREA CSS
=========================*/

.em_single_testimonial {
    background: #fafafa none repeat scroll 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 75px;
    padding: 0 30px 55px;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.em_single_testimonial:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.em_testi_content {
    position: relative;
}

.em_testi_content::before {
    color: #22335f;
    content: "ï„";
    font-family: fontawesome;
    font-size: 60px;
    left: 3px;
    opacity: 0.1;
    position: absolute;
    top: -97px;
}

.em_testi_content::after {
    bottom: -28px;
    color: #22335f;
    content: "ï„Ž";
    font-family: fontawesome;
    font-size: 60px;
    opacity: 0.1;
    position: absolute;
    right: 3px;
}

.em_test_thumb {
    margin-top: -75px;
    padding-bottom: 50px;
}

.em_test_thumb img {
    border: 10px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    border-radius: 100%;
}

.em_testi_title h2 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 24px;
}

.em_testi_title h2 sup {
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.em_testi_title span {
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
    color: #666;
}

.em_testi_text {
    font-size: 22px;
}

.em_testi_text.texti_style2 {
    color: #333;
    font-style: italic;
    margin: auto;
    width: 100%;
}

.em_testi_degi {
    line-height: 1;
    margin-top: -4px;
}

/* without carousel */

.curosel-style .owl-nav div {
    background: #fafafa;
    /*przycisk podÅ›wietlonego testimoniala bez naniechania na przycisk znalezisko*/
    border-radius: 50%;
    color: #666;
    font-size: 25px;
    height: 55px;
    left: -45px;
    line-height: 55px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 55px;
    text-align: center;
    z-index: 99;
    transform: translateY(-49%);
    opacity: 0;
}

.curosel-style .owl-nav .owl-next {
    left: auto;
    right: -45px;
}

.single_gallery.curosel-style .owl-nav div {
    left: 30px;
}

.single_gallery.curosel-style .owl-nav .owl-next {
    right: 30px;
    left: auto;
}

.portfolio_gallery_post.curosel-style .owl-nav div {
    left: 0px;
}

.portfolio_gallery_post.curosel-style .owl-nav .owl-next {
    right: 0px;
    left: auto;
}

.portfolio_gallery_post.curosel-style .owl-nav div {
    opacity: 1;
}

.curosel-style .owl-nav .owl-next:hover {
    background: #22335f;
    color: #fff;
}

.curosel-style .owl-nav .owl-prev:hover {
    background: #22335f;
    color: #fff
}

.owl-carousel .owl-item img {
    margin: auto;
}

.curosel-style:hover .owl-nav div {
    opacity: 1;
}

.em_testi_content {
    position: relative;
    text-align: center;
}

/*----------------------
 * SUBSCRIBE AREA CSS
 -----------------------*/

.subscribe_area .kc_text_block p {
    color: #666;
    font-family: Roboto/*zmieniono*/
    ;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

/*----------------------
 * SLIDER AREA CSS
 -----------------------*/

.main-slider-area {
    overflow: hidden;
    display: block;
    position: relative;
}

.nivo-caption {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background: rgba(0, 0, 0, .5) none repeat scroll 0 0;
    height: 100%;
}

.em-slider-content-nivo {}

.em_slider_right {}

.em_slider_inner {
    margin: auto;
    /* width: 60%; */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

/* slider title */

.em-slider-title {
    font-size: 28px;
    color: #fff;
    margin-bottom: 0px;
    margin-bottom: 15px;
    font-weight: 500;
}

.em-slider-sub-title {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

.em-slider-descript {
    color: #fff;
}

.em-slider-descript {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    width: 72%;
}

.text-left .em-slider-descript {
    margin-left: 0;
    margin-right: auto;
}

.text-center .em-slider-descript {
    margin: 0 auto 43px;
}

.text-right .em-slider-descript {
    margin-right: 0;
    margin-left: auto;
}

/* button */

.em-slider-button {}

.em-button-button-area a {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0 4px;
    padding: 7px 30px;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 1;
    border-radius: 30px;
}

a.em-active-button {
    background: #d71015;
    border-color: #d71015;
}

.em-button-button-area a:hover {
    color: #fff;
    background: #d71015;
    border-color: #d71015;
}

a.em-active-button:hover {
    background: transparent;
    border-color: #fff;
}

.em-slider-half-width {
    width: 50%;
}

.em-slider-left {
    padding-right: 30px;
}

.em-slider-right {
    padding-left: 30px;
}

.em-slider-full-width {
    width: 85%;
}

.em-slider-half-width .em-slider-descript {
    width: 100%;
}

/* directionNav */

.em-nivo-slider-wrapper .nivo-directionNav {}

.em-nivo-slider-wrapper .nivo-directionNav a {
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    line-height: 48px;
    border: 1px solid #fff;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    left: 0;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.em-nivo-slider-wrapper .nivo-directionNav .nivo-prevNav {}

.em-nivo-slider-wrapper .nivo-directionNav .nivo-nextNav {
    left: auto;
    right: 0;
}

.em-nivo-slider-wrapper .nivo-directionNav a:hover {
    background: #d71015;
    border-color: #d71015;
    color: #fff;
}

.em-nivo-slider-wrapper:hover .nivo-directionNav a {
    opacity: 1;
    visibility: visible;
    left: 50px;
}

.em-nivo-slider-wrapper:hover .nivo-directionNav .nivo-nextNav {
    left: auto;
    right: 50px;
}

/* controlNav */

.em-nivo-slider-wrapper .nivo-controlNav {
    bottom: 50px;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.em-nivo-slider-wrapper .nivo-controlNav a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 15px;
    margin: 0 5px;
    width: 15px;
}

.em-nivo-slider-wrapper .nivo-controlNav a:hover,
.em-nivo-slider-wrapper .nivo-controlNav a.active {
    background: #d71015 none repeat scroll 0 0;
    opacity: 1;
}

/*=====================
/*=====================
copax PRICING AREA CSS
=========================*/

.single_pricing {
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.single_pricing:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.pricing_head {
    padding: 40px 0 25px;
    transition: all 0.5s ease 0s;
}

.pricing_icon {
    text-align: center;
}

.pricing_title {
    text-align: center;
}

.pricing_title h2 {
    font-size: 20px;
    color: #fff;
}

.active .pricing_title h3 {}

.pricing_title h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 36px;
    text-transform: uppercase;
}

.price_item {
    text-align: center;
    transition: all 0.5s ease 0s;
}

.price_item span {
    display: inline-block;
    position: relative;
    transition: all 0.5s ease 0s;
}

.slash {
    font-size: 0;
}

.curencyp {
    bottom: 53px;
    font-size: 24px;
    font-weight: 400;
    left: 5px;
    position: absolute;
}

.tk {
    color: #333;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    position: relative;
}

.line_barp {}

.monthp {
    display: block;
    position: relative;
}

.bootmp {
    color: #666;
    font-size: 24px;
    font-weight: 300;
}

.pricing_body {}

.featur {}

.featur ul {
    text-align: center;
}

.featur ul li {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
    list-style: none;
}

.featur ul li:last-child {}

.order_now {
    background: transparent none repeat scroll 0 0;
    padding: 41px 0 50px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.order_now a {
    background-color: #d71015;
    border: 0 none;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-family: "Roboto"/*zmieniono*/
    , sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
    padding: 20px 50px;
    text-align: center;
    text-transform: uppercase;
}

.single_pricing .order_now a,
.single_pricing .price_item_inner,
.single_pricing .pricing_title>h3 {
    transition: .5s;
}

.active.single_pricing .order_now a {
    background: #cd0022 none repeat scroll 0 0;
    color: #fff;
    border-color: #cd0022;
}

.order_now a:hover {
    background: #cd0022 none repeat scroll 0 0;
    color: #fff;
    border-color: #cd0022;
}

.single_pricing:hover .tk {
    color: #d71015;
}

/*=====================
END copax PRICING AREA CSS
=========================*/

/* contact from */

div.wpcf7-response-output {
    margin: 0;
}

/* recent post */

.footer-widget.address,
.footer-widget.address p {
    color: #fff;
}

.footer_s_inner {
    margin-top: 10px;
}

.footer-sociala-icon {
    clear: both;
    float: left;
    margin-right: 12px;
}

.recent-post-item {
    clear: both;
    overflow: hidden;
}

.recent-post-image {
    float: left;
    margin-right: 10px;
}

.recent-post-image a {
    display: inline-block;
}

.recent-post-text {
    margin-top: 10px;
    overflow: hidden;
}

.recent-post-text h4 a {
    color: #333;
}

.recent-post-text .rcomment i {
    margin-right: 5px;
}

.recent-post-text .rcomment {
    color: #333;
}

.footer-middle .recent-post-item+.recent-post-item {
    margin-top: 20px;
}

/* mailchim */

.mc4wp-form-fields p {
    position: relative;
    color: #fff;
    margin-top: -5px;
}

.mc4wp-form-fields p label {
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
}

.mc4wp-form-fields input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 30px;
    color: #999999;
    font-size: 16px;
    height: 57px;
    padding: 5px 27px;
    position: relative;
    width: 66%;
    transition: .3s;
}

.mc4wp-form-fields input:focus {
    border-color: #d71015;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 30, 74, 0.6);
    outline: 0 none;
}

.mc4wp-form-fields button {
    background: #d71015 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 30px 30px 0;
    bottom: 0;
    color: #fff;
    font-size: 19px;
    height: 57px;
    line-height: 20px;
    margin: 0;
    position: absolute;
    right: 17%;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    width: 83px;
}

.mc4wp-form-fields button:hover {
    background: #cd0022;
    color: #fff
}

/* .footer-middle .mc4wp-form-fields p:nth-child(1) {
    margin-bottom: 30px;
} */

.footer-middle .mc4wp-form-fields input {}

/* .footer-middle .mc4wp-form-fields p:nth-child(3) input {
    margin-top: 20px;
    background: #0B96BF;
    border: 1px solid transparent;
    color: #fff;
    font-size: 14px;
}
 */

.mc4wp-form-fields input[type="submit"] {
    background: #0b96bf;
    width: 30%;
    border: none;
    height: 34px;
    font-size: 16px;
    padding: 0px;
    opacity: 1;
    color: #fff;
}

.contact-2 .sbuton {
    border-color: #ccc;
    border-radius: 6px;
    color: #fff;
    margin-top: 8px;
}

.learn_btn {
    background-color: #d71015;
    border: 0 none;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-family: "Roboto"/*zmieniono*/
    , sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    padding: 11px 20px;
    text-align: center;
    text-transform: uppercase;
}

.learn_btn:hover {
    background-color: #cd0022;
    color: #fff;
}

.learn_btn i {
    font-size: 15px;
    margin-left: 3px;
    transition: all 0.3s ease 0s;
}

.learn_btn:hover i {
    margin-left: 7px;
}

.learn_more_adn {
    padding-top: 19px;
}

.learn_more {
    padding-top: 9px;
}

/* blog adn */

.blog_nav {
    padding: 0px 0 40px;
}

.blog_nav ul {}

.blog_nav ul li {
    display: inline;
}

.blog_nav ul li {
    border: 1px solid #ddd;
    color: #454545;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    margin: 0 4px 10px;
    padding: 7px 14px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.blog_nav ul li.current_menu_item {
    color: #fff;
    border-color: #d71015;
    background-color: #d71015;
}

.blog_nav ul li:hover {
    color: #fff;
    border-color: #d71015;
    background-color: #d71015;
}

.blog_wrap {}

.single_blog_adn {
    text-align: center;
}

/*=====================
kopax adn blog css
=========================*/

.kopax-single-blog_adn {
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.3s ease-in-out 0s;
    text-align: center;
}

.kopax-single-blog_adn:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
}

/* BLOG THUMB CSS */

.kopax-blog-thumb_adn {
    overflow: hidden;
}

.kopax-blog-thumb_adn a {
    position: relative;
}

.kopax-blog-thumb_adn a {
    display: block;
}

.kopax-blog-thumb_adn a:before {
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #d71015;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: 999;
    -webkit-transition: .5s;
    transition: .5s;
}

.kopax-blog-thumb_adn img {
    display: block;
    transition: all 0.5s ease 0s;
    width: 100%;
}

/* BLOG TITLE AND CONTENT CSS */

.em-blog-content-area_adn {
    padding: 29px 13px 30px;
}

.blog-inner_adn {}

.blog-content_adn {}

.blog-content_adn h2 {
    color: #333;
    margin: 0 0 18px;
}

.blog-page-title_adn a {
    color: #333;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

.blog-page-title_adn a:hover {
    color: #d71015;
}

.blog-content_adn h2 a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-content_adn h2 a:hover {
    color: #d71015;
}

.blog-content_adn p {
    margin-bottom: 0;
}

/* BLOG POST META CSS */

.kopax-blog-meta_adn {
    margin-bottom: 0px;
    margin-top: 0;
    width: 100%;
}

.kopax-blog-meta_adn:after {
    display: block;
    clear: both;
    content: "";
}

.kopax-blog-meta_adn a {}

/* BLOG POST META LEFT CSS */

/* left style 1 */

.kopax-blog-meta-left_adn {
    padding: 0 0 9px;
}

.kopax-blog-meta-left_adn a,
.kopax-blog-meta-left_adn span {
    color: #454545;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
    text-transform: uppercase;
}

.kopax-blog-meta-left_adn a,
.kopax-blog-meta-left_adn span {
    color: #666;
    font-size: 12px;
    margin-right: 5px;
    text-transform: uppercase;
    transition: .3s;
}

.kopax-blog-meta-left_adn a:hover,
.kopax-blog-meta-left_adn span:hover {
    color: #d71015;
}

.kopax-blog-meta-left_adn i {
    margin-right: 5px;
    color: #d71015;
}

.blog-page-title_adn>h2 {
    margin-bottom: 7px;
}

/* BLOG POST META RIGHT CSS */

.kopax-blog-meta-right_adn {
    padding: 7px 0;
    text-transform: capitalize;
}

.kopax-blog-meta-right_adn a,
.kopax-blog-meta-right_adn span {
    font-size: 12px;
    color: #454545;
    margin-left: 5px;
}

.kopax-blog-meta-right_adn i {
    margin-right: 5px;
}

/* blog readmore */

.readmore_adn a {
    border: 1px solid #ddd;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    padding: 6px 10px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.readmore_adn a:hover {
    border-color: #d71015;
    background: #d71015;
    color: #fff;
}

/* blog hover */

.kopax-single-blog_adn:hover .kopax-blog-thumb_adn a:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.kopax-single-blog_adn:hover .kopax-blog-thumb_adn img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blog_nospace_adn.col-xs-12 {
    padding: 0px;
}

.blog_nospace_adn .kopax-single-blog {
    margin-bottom: 0px;
}

/* responsive 320 start */

/* small mobile :320px. */

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .kopax-header-top {
        display: none;
    }
    .mean-container .mean-bar::before {
        text-transform: uppercase;
        top: 19px;
    }
    .mean-container a.meanmenu-reveal {
        padding: 19px 20px 18px;
    }
}

/* responsive 320 end */

.btn {
    background-color: #d71015;
    border: 0 none;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-family: "Roboto"/*zmieniono*/
    , sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 16px;
    padding: 20px 50px;
}

.btn-sm {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px 20px;
}

.btn.btn-bordered {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #d71015;
    color: #d71015;
    padding-bottom: 11px;
    padding-top: 11px;
}

.btn.btn-lg.btn-bordered {
    padding-bottom: 16px;
    padding-top: 16px;
}

.btn.btn-sm.btn-bordered {
    padding-bottom: 8px;
    padding-top: 8px;
}

.btn-icon i {
    font-size: 10px;
    left: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.btn-icon:hover i {
    left: 2px;
}

.btn:hover,
.btn:focus {
    background-color: #cd0022;
    color: #fff;
}

.btn.btn-bordered:hover {
    background-color: #d71015;
    color: #fff;
}

.btn:active {
    background-color: #AC2925;
}

.button-group {
    margin-top: 30px;
}

.button-group a {
    margin-right: 25px;
}

.button-group a:last-child {
    margin-right: 0;
}

/*----------------------------------------
7. BANNER SECTION
------------------------------------------*/

.banner-area {
    height: calc(100vh);
    padding: 0;
    position: relative;
}

.overlay-white:after {
    background-color: rgba(255, 255, 255, 0.5);
}

.banner-content {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.banner-content h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.banner-content p {
    font-size: 18px;
    margin: 20px auto;
    width: 38%;
}

.banner-area .btn {
    margin-top: 30px;
}

.scroll-next {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.scroll-next>a {
    border-radius: 20px;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
}

.scroll-next i {
    color: #d71015;
    font-size: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.testimonial_list {
    margin: auto;
    width: 64%;
}

/*----------------------------------------
8. HOME 2 HERO SLIDER SECTION
------------------------------------------*/

.hero-slider-area {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: auto;
    position: relative;
}

.hero-slider-area .single-slide {
    height: calc(100vh - 100px);
    position: relative;
}

.hero-slider-area .overlay-white:after {
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-slider-area .overlay-dark:after {
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-slider-area .slide-one-bg {
    background: rgba(0, 0, 0, 0) no-repeat scroll center center / cover;
}

.hero-slider-area .slide-two-bg {
    background: rgba(0, 0, 0, 0) no-repeat scroll center center / cover;
}

.hero-slider-area .slide-three-bg {
    background: rgba(0, 0, 0, 0) no-repeat scroll center center / cover;
}

.hero-slider-area .banner-content {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev,
.slick-next {
    background-color: #fafafa;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    width: 50px;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 50px;
}

.hero-slider-area .slick-prev {
    left: 25px;
}

.hero-slider-area .slick-next {
    right: 25px;
}

.slick-prev:before,
.slick-next:before {
    color: #999;
    font-size: 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "\f104";
    font-family: FontAwesome;
}

.slick-next:before {
    content: "\f105";
    font-family: FontAwesome;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    background-color: #d71015;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    color: #fff;
}

.hero-slider-area .slick-dots {
    bottom: 0;
    text-align: center;
}

.slick-dots {
    bottom: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li {
    height: 5px;
    margin: 0 3px;
    width: 20px;
}

.slick-dots li button {
    background-color: #333;
    border: 0 none;
    height: 5px;
    padding: 0;
    text-indent: -99999px;
    width: 20px;
}

.slick-dots .slick-active button {
    background-color: #d71015;
}

.overlay-white,
.overlay-dark {
    position: relative;
    z-index: 0;
}

.overlay-white:after,
.overlay-dark:after {
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.overlay-dark:after {
    background-color: rgba(0, 0, 0, 0.85);
}

/* IMAGE SLIDER */

.em-image-sliderslick {}

.em-image-sliderslick .slick-prev,
.em-image-sliderslick .slick-next,
.em-image-sliderslick .slick-dots li button {
    opacity: 0;
}

.em-image-sliderslick:hover .slick-prev,
.em-image-sliderslick:hover .slick-next,
.em-image-sliderslick:hover .slick-dots li button {
    opacity: 1;
}

/* project desc */

.portfolio-details-box li {
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0;
    text-transform: capitalize;
    list-style: none;
}

.portfolio-details-box li:last-child {
    border-bottom: 0 none;
}

.portfolio-details-box li span {
    color: #333;
    display: inline-block;
    font-weight: 700;
    margin-right: 15px;
    text-transform: uppercase;
    width: 170px;
}

.portfolio-details-box ul {
    margin-bottom: 20px;
}

.portfolio-description {
    margin-top: 50px;
}

.portfolio-description>p {
    font-size: 18px;
}

.projects-navigation-wrap {
    margin-top: 50px;
}

.projects-navigation-wrap a {
    font-family: 'Roboto /*zmieniono*/', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.portfolio-content.portfolio-details-box {
    padding-top: 30px;
}

.prot_content.multi_gallery {
    width: 75%;
    margin: auto;
}

/* footer widget */

.footer-middle .widget.widget_archive .widget-title {
    margin-bottom: 34px !important;
    margin-top: 28px !important;
}

.footer-middle .widget.widget_search .widget-title {
    margin-top: 25px !important;
}

.footer-middle .widget.widget_tag_cloud .widget-title {
    margin-bottom: 20px !important;
}

.footer-middle .widget.widget_nav_menu .widget-title {
    margin-bottom: 25px !important;
    margin-top: 15px !important;
}

.footer-middle .widget.widget_text p img {
    margin-top: 10px !important;
    margin-bottom: 6px !important;
}

#wp-calendar caption {
    padding: 0;
    margin: 0;
    margin-top: -7px;
    margin-bottom: 5px;
}

/* sidebar widget */

.blog-left-side .widget.widget_calendar,
.blog-left-side .widget.widget_search,
.blog-left-side .widget.widget_text {
    padding-bottom: 30px !important;
}

.blog-left-side .widget.widget_text p img {
    margin-top: 10px !important;
    margin-bottom: 6px !important;
}

.blog-left-side .widget.widget_text .wp-caption {
    margin-bottom: 0px;
}

.blog-left-side .widget.widget_archive .widget h2 {
    padding-bottom: 19px !important;
}

table#wp-calendar td#today a {
    color: #fff;
}

.footer-middle #archives-dropdown--1 {
    height: 34px;
    width: 100%;
}

.widget.widget_categories select {
    width: 100%;
    height: 34px;
}

.widget .screen-reader-text {
    display: none;
}

.search input {
    width: 100%;
}

.textwidget select {
    width: 100%;
}

.footer-middle .widget ul li {
    margin-bottom: 10px;
}

.comment_field .textarea-field label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog-content {
    word-break: break-word;
}

.post-password-form input[type=submit] {
    background: #d71015;
}

.page-list-single {
    clear: both;
}